* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
#root {
  background-image: url(../images/pokemons.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
  height: 100vh;
}
.header__title {
  text-align: center;
  padding: 30px;
  font-size: 32px;
  color: #474747;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px 250px;
}
.list__items {
  border: 2px solid salmon;
  border-radius: 10px;
  width: 150px;
  margin: 10px;
  text-align: center;
  background-color: rgb(248, 244, 247);
}

.list__items--title {
  border-bottom: 2px solid salmon;
  border-top: 2px solid salmon;
  text-transform: capitalize;
}

.list__items--container {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.list__items--text {
  background-color: #474747;
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
