* {
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
.header__title {
  text-align: center;
  padding: 30px;
  background-color: rgb(192, 161, 161);
  font-size: 28px;
}

.main {
  height: 100vh;
  padding-top: 20px;
}
.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 250px;
}
.list__items {
  border: 2px solid salmon;
  border-radius: 10px;
  width: 150px;
  margin: 10px;
  text-align: center;
  background-color: rgb(210, 235, 230);
}
.list__items--title {
  border-bottom: 2px solid salmon;
  border-top: 2px solid salmon;
}

.list__items--container {
  display: flex;
  justify-content: space-around;
  padding: 8px;
}

.list__items--text {
  background-color: grey;
  border-radius: 5px;
  padding: 3px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
}
